fastapi==0.128.0
uvicorn==0.37.0
python-multipart==0.0.20

# LangChain (compatible set)
langchain==0.2.14
langchain-core==0.2.34
langchain-community==0.2.14
langchain-text-splitters==0.2.2
langchain-huggingface==0.0.3
langchain-groq==0.1.9

# Embeddings + Vector DB
sentence-transformers==2.7.0
faiss-cpu==1.8.0
numpy==1.26.4

# PDF
llama-parse==0.5.9

# Core deps
pydantic==2.9.2
torch==2.3.1